.card-image {
    width: 25rem;
    height: 17rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 5;
}

.card .card-content {
    padding: 1rem;
    width: 25rem;
}