.h2-lang,
.h3-lang,
.h5-lang {
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

.btn-lang {
    color: #004d40;
    font-weight: 700;
    opacity: 0.9;
}