.h2-lang,
.h3-lang,
.h5-lang,
.h6-lang {
    background-color: rgba(0, 0, 0, 0.6);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    border-radius: 3px;
}

.h6-lang {
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-lang {
    color: #004d40;
    font-weight: 700;
    opacity: 0.9;
}