.page-footer-lang {
    background-color: #00241e;
}

.page-footer__logo {
    width: 6rem;
    height: 3rem;
    background-image: url(../assets/svg/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    fill: white;
}

.page-footer__github-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    .page-footer__github {
        width: 3rem;
        height: 3rem;
        background-image: url(../assets/svg/github-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}