.nav-lang {
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo-lang {
    display: flex;
    width: 20%;
    height: 70%;
    padding: 0 1rem;
    background-image: url(../assets/svg/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1%;
}

.header-lang {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.dropdown-content {
    min-width: fit-content;
    top: -64px;
    li {
        &>a,
        &>span {
            color: rgba(0, 36, 30, 1); //
        }
    }
}