.lang_login {
  display: flex;
  align-items: center;
  height: 100vh;
}

.lang_login_img_container {
  width: 45%;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.lang_login_img_container.lang_door {
  background-image: url('../assets/icons/login-door.png');
}

.lang_login_img_container.lang_telephone {
  background-image: url('../assets/icons/login-telephone.png');
}

.lang_login_img {
  display: block;
}

.lang_login_form_container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang_login_heading {
  background-color: #283d3b;
  color: #ead3c6;
  font-family: serif;
  text-shadow: 4px 2px black;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  line-height: 90%;
  padding: 14px;
  width: fit-content;
  border: 15px double black;
  border-radius: 5px;
  margin-bottom: 30px;
}

.lang_login_form {
  margin: 0 auto;
  max-width: 300px;
}

.lang_login_input {
  margin: 5px auto;
}

.lang_login_input_last {
  margin-bottom: 15px;
}

.lang_login_btn {
  display: block;
  margin: 0 auto;
}
