.lang_login {
  display: flex;
  align-items: center;
}

.lang_login_img {
  display: block;
}

// .lang_login_img_container {
//   flex-shrink: 2;
//   flex-basis: 50%;
// }

// .lang_login_form_container {
//   flex-shrink: 1;
//   flex-basis: 50%;
// }
