nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2rem;
}

.parallax-container .section {
    width: 100%;
}

.top-img-lang {
    min-height: 410px;
}

.parallax {
    overflow: hidden;
}

.img-parallax {
    display: block;
    max-width: 100rem;
    min-width: 100%;
    // min-width: 100vw;
    // max-height: 100vh;
    //  overflow: hidden;
}

.main-text-lang {
    font-size: 1.5rem;
    padding: 2rem 0;
}

.main-github {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    align-items: center;
    //    background-color: rgba(0, 0, 0, 0.6);
    // padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    .main-github__image {
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
        background-image: url(../assets/svg/github-icon-black.svg);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.6;
    }
    .main-github__link {
        width: fit-content;
        height: fit-content;
    }
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}