.phrase_game-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    align-items: center;
    width: 70vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 75vh;
    background: rgba(3, 3, 3, 0.3);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    // border: 1px solid red;
}

.phrase-all-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.level-phrase {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.phrase-level-btn {
    margin-top: 20px;
    width: 70px;
    height: 35px;
    border-radius: 3px;
    border-right: none;
    border-bottom: none;
    // отключение-включение границ кнопки
    // border-top: none;
    // border-left: none;
    display: flex;
    color: #302f2f;
    font-weight: 600;
    font-size: 14px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.14), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
    &:focus {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.3), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
}

.phrase_block-word {
    margin-top: 20px;
    width: fit-content;
    height: 35px;
    border-radius: 3px;
    border: none;
    display: flex;
    color: #302f2f;
    font-weight: 600;
    font-size: 16px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: #ffffff !important;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.14), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
    &:focus {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
}

.phrase_block-word.correct {
    background-color: #84e2d1 !important;
}

.phrase_block-word.wrong {
    background-color: #fcc2b0 !important;
}

.phrase_main-btn {
    margin-top: 25px;
    width: 150px;
    height: 35px;
    border-radius: 3px;
    border: none;
    display: flex;
    color: #302f2f;
    font-weight: 600;
    font-size: 16px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: #ffffff !important;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.14), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
    &:focus {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.2), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
}

.title-phrase {
    margin-bottom: 80px;
}

.title-phrase,
.subtitle-phrase {
    color: white;
}

.img-phrase {
    background-image: url('../assets/images/tower.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.phrase_word {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    width: 470px;
    height: 220px;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}

.phrase_over {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    width: 450px;
    height: 400px;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}

.phrase_header-result {
    position: absolute;
    top: 0;
    background-color: #ffe2d9;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #beb0b0;
}

.phrase_start-btn {
    margin-top: 20px;
    width: 150px;
    height: 35px;
    border-radius: 3px;
    border-right: none;
    border-bottom: none;
    display: flex;
    color: #302f2f;
    font-weight: 600;
    font-size: 14px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    transition: 0.3s;
    cursor: pointer;
}

.phrase_list-words {
    margin-left: 3px;
    font-size: 18px;
    font-weight: 500;
    width: 95%;
    padding-bottom: 20px;
}

.phrase_list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    font-style: italic;
    padding-bottom: 5px;
}

.phrase_all-words {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.phrase_header-learn {
    margin-left: 20px;
    color: #04efdb;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid #beb0b0;
}

.phrase_header-unlearn {
    margin-left: 20px;
    color: #f57096;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.phrase_word-name {
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 40px;
    color: #313030;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 30px;
    margin-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    width: fit-content;
    margin-right: 15px;
}

.phrase_img-word {
    width: 17rem;
    height: 9rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5px;
}

.phrase_game-phrase {
    font-size: 1.4rem !important;
    margin-top: 4px;
    margin-right: 1px;
}

.phrase_volume {
    font-size: 5.4rem !important;
    margin-top: 71px;
    border: 2px solid #3e3c3c;
    border-radius: 100%;
    margin-bottom: 70px;
}

.phrase_controll {
    position: absolute;
    top: 5rem;
    right: 3rem;
    z-index: 1;
    display: flex;
    width: fit-content;
    gap: 1rem;
}

.phrase_cross {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    border: none;
    background-image: url(../assets/svg/cross.svg);
    cursor: pointer;
}

.phrase_fullscreen {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    border: none;
    background-image: url(../assets/svg/fullscreen.svg);
    cursor: pointer;
}

.phrase_sound {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    background-image: url(../assets/svg/sound.svg);
    cursor: pointer;
}

.phrase_cross,
.phrase_sound,
.phrase_fullscreen {
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
    &:focus {
        transform: scale(1.2);
        background-color: transparent;
    }
}

.phrase_sound.phrase_not-sound {
    background-image: url(../assets/svg/not-sound.svg);
}

.phrase_btn-block {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: fit-content;
    column-gap: 1.5rem;
}

.left-phrase-btn,
.right-phrase-btn {
    width: 120px;
    font-weight: 500;
    color: #313030;
    border-radius: 3px;
    border: 1px solid black;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}

.phrase-sptint-btn {
    // background-color: #B0E8DE!important;
    background-color: #84e2d1 !important;
}

.phrase-sptint-btn {
    // background-color: #FFE2D9!important;
    background-color: #fcc2b0 !important;
}

.phrase_btn-block-over {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    border-top: 2px solid #beb0b0;
}

.left-phrase-btn.end,
.right-phrase-btn.end {
    background-color: #b0e8de !important;
    width: 160px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    &:focus {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}