.sprint_game-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 450px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.level-sprint {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.sprint-level-btn {
    margin-top: 20px;
    width: 70px;
    height: 35px;
    border-radius: 3px;
    border-right: none;
    border-bottom: none;
    // отключение-включение границ кнопки
    // border-top: none;
    // border-left: none;
    display: flex;
    color: #302f2f;
    font-weight: 600;
    font-size: 14px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.14), 0 3px 3px 3px rgba(0, 0, 0, 0.12), 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    }
}

.title-sprint {
    margin-bottom: 80px;
}

.title-sprint,
.subtitle-sprint {
    color: white;
}

.img-sprint {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.sprint_word {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    width: 480px;
    height: 200px;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}

.sprint_over {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    width: 450px;
    height: 400px;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}

.sprint_header-result {
    position: absolute;
    top: 0;
    background-color: #ffe2d9;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #beb0b0;
}

.sprint_list-words {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    width: 95%;
    padding-bottom: 20px;
}

.sprint_list {
    font-style: italic;
    padding-bottom: 5px;
}

.sprint_all-words {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sprint_header-learn {
    color: #04efdb;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 2px solid #beb0b0;
}

.sprint_header-unlearn {
    color: #f57096;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sprint_word-name {
    font-weight: 400;
    font-size: 40px;
    color: #313030;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: center;
    width: fit-content;
}

.sprint_crows {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-bottom: 10px;
}

.sprint_crow {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3.5rem;
    height: 1.5rem;
    background-image: url(../assets/svg/crow.svg);
}

.sprint_crow.active {
    background-image: url(../assets/svg/crow-win.svg);
}

.sprint_total-points {
    margin-bottom: 13px;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}

.sprint_points {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.sprint {
    display: flex;
}

.sprint_cross {
    position: absolute;
    right: 0;
    top: 85px;
    margin-right: 167px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    width: 3.2rem;
    height: 1.2rem;
    background-image: url(../assets/svg/cross.svg);
    cursor: pointer;
}

.sprint_fullscreen {
    position: absolute;
    right: 0;
    top: 85px;
    margin-right: 205px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    width: 3.2rem;
    height: 1.2rem;
    background-image: url(../assets/svg/fullscreen.svg);
    cursor: pointer;
}

.sprint_sound {
    position: absolute;
    right: 0;
    top: 84px;
    margin-right: 240px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
    width: 3.6rem;
    height: 1.6rem;
    background-image: url(../assets/svg/sound.svg);
    cursor: pointer;
}

.sprint_cross,
.sprint_sound,
.sprint_fullscreen {
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
}

.sprint_sound.sprint_not-sound {
    background-image: url(../assets/svg/not-sound.svg);
}

.sprint_time {
    position: absolute;
    width: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 45px;
    margin-left: 220px;
}

.sprint_clock {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    height: 1.9rem;
    margin-bottom: 18px;
    background-image: url(../assets/svg/clock.svg);
}

.sprint_seconds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 3px;
    background-color: #ffffff;
}

.sprint_btn-block {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: 300px;
}

.left-sptint-btn,
.right-sptint-btn {
    width: 120px;
    font-weight: 500;
    color: #313030;
    border-radius: 3px;
    border: 1px solid black;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 2px 2px 2px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    }
}

.right-sptint-btn {
    // background-color: #B0E8DE!important;
    background-color: #84e2d1 !important;
}

.left-sptint-btn {
    // background-color: #FFE2D9!important;
    background-color: #fcc2b0 !important;
}

.sprint_btn-block-over {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    border-top: 2px solid #beb0b0;
}

.left-sptint-btn.end,
.right-sptint-btn.end {
    background-color: #b0e8de !important;
    width: 160px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1100px) {
    .sprint_time {
        margin-left: 40px;
    }
}